<div class="modal-header">
    <div class="wrapper">
        <div class="left">  
            <h3>{{scheduled_class.name}}</h3>
            <div class="">{{formatDate(date)}}</div>
            <div class="">{{scheduled_class.time}} ( {{scheduled_class.duration}} mins )</div>
        </div>
    
        <div style="right">  
            <img src="http://lh4.googleusercontent.com/-zrj_UbFf9ck/AAAAAAAAAAI/AAAAAAAAAAA/XGj0xAgEgIE/s30-c/photo.jpg" width="60" height="60" style="right:0px;">
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="wrapper">
        <div class="left">
            <ul>
                <li ng-repeat="astudent in scheduled_class.students">
                    <a ng-click="selected.student = astudent">{{ astudent }}</a>
                </li>
            </ul>
            <div data-ng-show="selected">Selection from a modal: {{ selected.student }}</div>
        </div>
    
        <div style="right">      
            <ul>
                <li ng-repeat="attachement in scheduled_class.attachements">
                    <a href="#"><i class="icon-file"></i>&nbsp;{{attachement}}</a>

                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
    
